name: deploy
on: 
  push:
    branches:
      - "*"
permissions:
  contents: read
  packages: write
env:
  REGISTRY: ghcr.io
  MANIFEST_REPO: koizumi-yositaka/jwt-tutorial-manifest
  MANIFEST_FILE_PATH: manifest/express-deployment.yml
  IMAGE_NAME: koizumi-yositaka/jwt-tutorial
jobs:
  build-and-push-image:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
      pages: write  
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  #githubが提供するcheckout

      - name: Docker met
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest

      - name: Log in to Git Hub Container Resistory # GitHUb Crへのログイン
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v5
        with: 
          context: ./app
          push: true
          tags: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest
          labels: ${{steps.meta.outputs.labels}} 
  update-other-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repository
        uses: actions/checkout@v3
        with:
          repository: ${{env.MANIFEST_REPO}}
          token: ${{ secrets.TGT_REPO_PAT }}
          ref: main
          path: manifest

      - name: Update files
        run: |
          cd manifest
          echo "追加の内容" >> README.md

      - name: Commit and push changes
        run: |
          cd target-repo
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b update-from-action
          git add .
          git commit -m "GitHub Actions によるファイル更新"
          git push origin update-from-action

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.TGT_REPO_PAT }}
          repository:  ${{env.MANIFEST_REPO}}
          source_branch: update-from-action
          target_branch: main
          title: "GitHub Actions によるファイル更新"
          body: "このプルリクエストは GitHub Actions によって自動的に作成されました。"