name: deploy
on: 
  push:
    branches:
      - "*"
permissions:
  contents: read
  packages: write
env:
  REGISTRY: ghcr.io
  MANIFEST_REPO: koizumi-yositaka/jwt-tutorial-manifest
  MANIFEST_FILE_PATH: manifest/express-deployment.yml
  IMAGE_NAME: koizumi-yositaka/jwt-tutorial
jobs:
  build-and-push-image:
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
      pages: write  
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  #githubが提供するcheckout

      - name: Docker met
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest

      - name: Log in to Git Hub Container Resistory # GitHUb Crへのログイン
        uses: docker/login-action@v3
        with:
          registry: ${{env.REGISTRY}}
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - name: Build and push
        uses: docker/build-push-action@v5
        with: 
          context: ./app
          push: true
          tags: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}:latest
          labels: ${{steps.meta.outputs.labels}} 
  update-other-repo:
    runs-on: ubuntu-latest
    env:
      MANIFEST_REPO: ${{ env.MANIFEST_REPO }}
      BRANCH_NAME: auto-update-${{ github.run_id }}
    steps:
      - name: Checkout target repository
        uses: actions/checkout@v3
        with:
          repository: ${{ env.MANIFEST_REPO }}
          token: ${{ secrets.TGT_REPO_PAT }}
          ref: main
          path: manifest

      - name: Update files
        run: |
          cd manifest
          echo "追加の内容" >> README.md

      - name: Commit and push changes
        env:
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
        run: |
          cd manifest
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout -b "$BRANCH_NAME"
          git add .
          git commit -m "GitHub Actions によるファイル更新"
          git push origin "$BRANCH_NAME"

      - name: Authenticate GitHub CLI
        env:
          GITHUB_TOKEN: ${{ secrets.TGT_REPO_PAT }}
        run: |
          gh auth login --with-token <<< "$GITHUB_TOKEN"

      - name: Create Pull Request
        env:
          MANIFEST_REPO: ${{ env.MANIFEST_REPO }}
          BRANCH_NAME: ${{ env.BRANCH_NAME }}
        run: |
          gh pr create \
            --repo "$MANIFEST_REPO" \
            --head "$BRANCH_NAME" \
            --base "main" \
            --title "GitHub Actions によるファイル更新" \
            --body "このプルリクエストは GitHub Actions によって自動的に作成されました。"